body {
    /* background-color: black; */
    color: white;
    overflow-x: hidden;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    /* object-fit:; */
    margin: 0;
    background-color: #141414;
}

/* body::-webkit-scrollbar{
    display: none;
} */

header {
    padding: 2px;
    margin-left: 0px;
    margin-right: 0px;
    top: 0px;
    position: sticky;
    margin-bottom: 5px;
    background-color: #141414;
    z-index: 10;
}

a {
    text-decoration: none;
    color: white;
}


.container {
    display: flex;
    padding: auto;
    align-items: center;
    box-sizing: border-box;
}

.box {
    margin: 4px;
    padding: 5px;
}

.boxSize {
    /* font-size: small; */
    font-size: 1vw;
}

.box:hover {
    color: grey;
}

.Profile{
    padding-right: 3vw;
}

.Profile:hover .Profile-item {
    display: block;
    position: absolute;
    right: 10px;
    padding: 10px;
    top: 100%;
    margin-top: 0;
    border: solid rgb(53, 52, 52) 2px;
    background-color: rgb(43, 43, 43);
    list-style-type: none;
    text-align: left;
    width: 100%;
}

.Profile-item {
    display: none;
}

.Profile-item li {
    padding: 0.5vh;
}

.icon, .Profile-item li span{
    /* text-align: center; */
    position: relative;
    bottom: 0.5vh;
    font-size: 2vh;
}

@media screen and (max-width: 900px) {
    #showthis {
        display: none;
    }

    .hidethis {
        display: none;
    }

    .display-content {
        display: block;
    }

    .display-content-item {
        display: none;
    }

    .display-content:hover .display-content-item {
        display: block;
        position: absolute;
        top: 100%;
        margin-top: 0;
        border: solid rgb(53, 52, 52) 2px;
        width: 35vw;
        /* background-color: rgb(43, 43, 43, 0.2); */
        padding: 5px 2px 5px 2px;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .display-content:hover .display-content-item li {   
        text-align: center;
        padding: 1vw 2vw 1vw 0vw;
    }

    .display-content-item li:hover{
        background-color: rgb(250,250,250,0.1);    
    }

    .Profile:hover .Profile-item {
        width: 200px;
    }
}

@media screen and (min-width: 901px) {
    .display-content {
        display: none;
    }
}

.display-content {
    /* display: none; */
    position: relative;
    /* border: solid white 2px; */
    padding: 2px;
    font-size: 2vw;

}

.display-content-item li:hover{
    background-color: rgb(250,250,250,0.1);
}

footer {
    /* border: solid 2px red; */
    margin: auto;
    padding: auto;
    padding-top: 5vw;
    position: relative;
    /* left: 12%; */
    bottom: 7px;
    width: 70%;
}

footer div ul li a {
    text-align: center;
    padding: 12px;
    text-decoration: none;
    color: grey;
}

footer div.container1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

footer div ul li a:hover {
    text-decoration: underline;
    color: white;
}

footer div ul {
    list-style: none;
    margin-top: 1px;
    padding-left: 0%;
}

footer div ul li {
    padding: 4px;
    justify-content: left;
    font-size: 1vw;
    white-space: nowrap;
}

.video{
    position: absolute;
    width: 100%;
    top: 3vh;
    object-fit: cover;
    -webkit-mask-image: linear-gradient(#000, rgba(0,0,0,0));
}

#iconBox1, #iconBox2{
    width: 100%;
    height: 6vh;
    background-color: white;
    border-radius: 10px;
    color : black;
}

#iconBox2{
    background-color: rgba(109, 109, 110, 0.7);
    color: white;
}

#iconBox3{
    /* width: 90px;
    height: 40px; */
    width: 35px;
    height: 35px;
    padding-top: 2px;
    border-radius: 40%;
}
#iconBox4{
    border-left: white solid 2px;
    text-align: center;
    background-color: rgba(51,51,51,.6);
    color: white;
}

#id1{
    position: absolute;
    top: 35vw;
    left: 5vw; 
    width: 95%;
}

#grid{
    display: grid;
    grid-template-columns: 8% 10% auto 6% 6%;
    padding: 20px;
    column-gap: 1%;
    width: 99%;
}

.iconBox{
    border: solid white 2px;
    border-radius: 15%;    
    display: inline-grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.iconStyle{
    padding: 10px;
    font-size: 18px;
}

.showtitle{
    font-size: 1.5vw;
    height: 2vw;
    width: 95%;
    /* border: red solid 2px; */
    position: relative;
    left: 2vw;
    padding-left: 1vw;
    padding-top: 1vw;
}

#showtitle1{
    font-size: 4vw;
    height: 15vw;
    width: 20vw;
    position: absolute;
    top: 17vw;
    left: 5vw;
    
}

#showDiscription{
    font-size: 1vw;
    height: 20vh;
    /* width: 30vw; */
    width: 25vw;
    position: absolute;
    top: 30vw;
    left: 5vw;
}

#addborder{
    border-top: solid white 2px;
    text-align: center;
    padding-top: 1vw;
}

.btn{
    padding: 10px;
    border-radius: 15%;
    height: 100%;
    width: 100%;
    font-size: 1vw;
}

#bth1{
    background-color: white;
    border-radius: 10%;
    color : black;

}

.profileImage{
    height: 3.1vh;
    border-radius: 2px;
}

.carousel{
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    grid-gap: 0.5vw;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    position: relative;
    padding: 1vw;
    padding-left: 3vw;
    padding-bottom: 2vw;
    padding-right: 5vw;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.thumbnail {
    display: flex;
    flex-direction: column;
    width: min-content;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    /* border: red solid 2px;
    height: 7.88vw;
    width: 14vw; */
    height: 8.3vw;
    width: 14.74vw;
    border-radius: 5%;
}

.bar{
    height: 10vw;
}

.bar img {
    border-radius: 5%;
}

.bar div {
    position: absolute;
    bottom: 1vw;
    /* border: #e50914 solid 2px; */
    width: 70%;
    align-self: center;
}

.thumbnail2 {
    display: flex;
    flex-direction: column;
    width: min-content;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    /* border: red solid 2px; */
    height: 10.2vw;
    width: 14vw;
    height: 11vw;
    width: 14.75vw;

    border-radius: 2%;
}

.rank{
    height:100%;
    width:60%;
}

.poster{
    height: 100%; 
    width:55%;
    z-index: 1;
    position: absolute; 
    right: 0;
}

.explore{
    display: none;
    color: #54b9c5;
    font-weight: bold;
}

.showtitle:hover .explore, .explore:hover .exploreMore{
    display: inline;
}

.explore:hover .exploreHide{
    visibility: hidden;
}

.explore .exploreMore{
    display: none;
    font-size: 1vw;
}

progress{
    -webkit-appearance: none;
    height: 3px;
    width: 100%;
}

progress::-webkit-progress-bar{
    background-color: hsla(0,0%,100%,.3);
    border-radius: 2px;
}

progress::-webkit-progress-value{
    background-color: #e50914;
    border-radius: 2px;
}

.AngleL{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    height: 8.5vw;
    width: 2.5vw;
    z-index: 1;
    position: relative; 
    left: 0;
    bottom: 10.4vw;
    padding-left: 0.5vw;
}



.AngleR{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8.5vw;
    width: 2.5vw;
    z-index: 1;
    position: relative; 
    left: 96vw;
    bottom: 18.8vw;
    padding-right: 0.5vw;
}

.AngleL:hover, .AngleR:hover{
    background: hsla(0,0%,8%,.7)
}

.leftAngle{
    font-size: 2vw;
}
.rightAngle{
    font-size: 2vw;
}

.class{
    height: 15vw;
}

#idContinue{
    height: 13vw;
    padding: 1vw 0 1vw 0vw;
}

#idContinue .AngleL{
    height: 8.25vw;
    position: relative;
    bottom: 12vw;
}

#idContinue .AngleR {
    position: relative;
    height: 8.8vw;
    bottom: 20.3vw;
    left: 95.9vw;
}

.classRank{
    height: 15vw;
    padding: 0vw 0vw 2vw 0vw;
}

.classRank .AngleL{
    height: 11vw;
    position: relative;
    bottom: 13vw;
}

.classRank .AngleR {
    position: relative;
    height: 11vw;
    bottom: 24vw;
    left: 95.9vw;
}

.class .AngleL i, #idContinue .AngleL i, .class .AngleR i, #idContinue .AngleR i, .classRank .AngleL i, .classRank .AngleR i{
    display: none;
}

.class:hover .AngleL i, #idContinue:hover .AngleL i, .class:hover .AngleR i, #idContinue:hover .AngleR i, .classRank:hover .AngleL i, .classRank:hover .AngleR i{
    display: unset;
}