body {
    background-color: black;
    color: white;
    overflow-x: hidden;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

/* body::-webkit-scrollbar{
    display: none;
} */

header {
    padding: 2px;
    margin-left: 0px;
    margin-right: 0px;
    top: 0px;
    position: sticky;
    margin-bottom: 5px;
    background-color: black;
}

/* .play{
    display: flex;

} */

/* header div div p{
    font-size: 2vw;
    position: absolute;
    text-align: center;
    left: 1000px;
} */

a {
    text-decoration: none;
    color: white;
}


.container {
    display: flex;
    padding: auto;
    align-items: center;
    box-sizing: border-box;
    /* color : white; */
}

.box {
    margin: 4px;
    padding: 5px;
}

.boxSize {
    /* font-size: small; */
    font-size: 1vw;
}

.box:hover {
    color: grey;
}

.Profile:hover .Profile-item {
    display: block;
    position: absolute;
    right: 10px;
    padding: 10px;
    top: 100%;
    border: solid rgb(53, 52, 52) 2px;
    background-color: rgb(43, 43, 43);
    list-style-type: none;
    text-align: left;

}

.Profile-item {
    display: none;
}

@media screen and (max-width: 900px) {
    #showthis {
        display: none;
    }

    .hidethis {
        display: none;
    }

    .display-content {
        display: block;
    }

    .display-content-item {
        display: none;
    }

    .display-content:hover .display-content-item {
        display: block;
        position: absolute;
        top: 100%;
        border: solid rgb(53, 52, 52) 2px;
        width: 175px;
        background-color: rgb(43, 43, 43);
        padding: 5px 2px 5px 2px;
    }
}

@media screen and (min-width: 901px) {
    .display-content {
        display: none;
    }
}

.display-content {
    /* display: none; */
    position: relative;
    /* border: solid white 2px; */
    padding: 2px;

}

/* .display-content-item {
    display: none;
    position: absolute;
    width: fit-content;
} */

/* .display-content:hover{
    display: block;
    border: solid red 2px;
} */


/* footer div {
    position: relative;
    margin-left: 100px;
} */


footer {
    /* border: solid 2px red; */
    margin: auto;
    padding: auto;
    position: relative;
    /* left: 12%; */
    bottom: 7px;
    width: 70%;
}

footer div ul li a {
    text-align: center;
    padding: 12px;
    text-decoration: none;
    color: grey;
}

footer div.container1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

footer div ul li a:hover {
    text-decoration: underline;
    color: white;
}

footer div ul {
    list-style: none;
    margin-top: 1px;
    padding-left: 0%;
}

footer div ul li {
    padding: 4px;
    justify-content: left;
}

.video{
    height: fit-content;
    width: fit-content;
    border: 5px solid white;
}

#iconBox1{
    width: 90px;
    height: 40px;
}
#iconBox2{
    width: 90px;
    height: 40px;
}
#iconBox3{
    width: 90px;
    height: 40px;
}

.grid{
    display: grid;
    grid-template-columns: 10% 10% auto 8%;
    padding: 20px;
    border: solid red 1px;
    width: 95%;
}

.iconBox{
    border: solid white 2px;
    border-radius: 15%;    
    display: inline-grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.iconPosition{
    padding: 10px;
    font-size: 18px;
    /* text-align: center; */
    /* justify-content: ; */
}

.iconPosition1{
    padding: 0px 5px 2px 5px;
    font-size: 18px;
}

.showtitle{
    font-size: 50px;
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    grid-column-gap: auto;

    /* background-color: white; */
}

.showtitleimage{
    /* bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%; */
    height: fit-content;
    width: fit-content;
    padding: 20px;

}

.showtitleimage img{
    /* height: 10%; */
    width: 100%;
    border-radius: 4%;
}